icon-search = "\f002"
icon-envelope-o = "\f003"
icon-th = "\f00a"
icon-th-list = "\f00b"
icon-align-justify = "\f039"
icon-map-marker = "\f041"
icon-twitter = "\f099"
icon-facebook = "\f09a"
icon-facebook-f = "\f09a"
icon-github = "\f09b"
icon-briefcase = "\f0b1"
icon-flask = "\f0c3"
icon-angle-left = "\f104"
icon-angle-right = "\f105"
icon-quote-left = "\f10d"
icon-quote-right = "\f10e"
icon-paper-plane = "\f1d8"
icon-send = "\f1d8"
